In [2]:
import pickle
filename='price_prune.pickle'
infile = open(filename,'rb')
df = pickle.load(infile)
infile.close()

In [3]:
df

,Instance Type,PricePerUnit,Location,Tenancy,Operating System,PurchaseOption,TermType,operation
4946,r6gd.metal,3.6864,US West (Oregon),Shared,Linux,NaN,OnDemand,RunInstances
14473,m5ad.24xlarge,4.9440,US West (Oregon),Shared,Linux,NaN,OnDemand,RunInstances
15909,r5d.16xlarge,4.6080,US West (Oregon),Shared,Linux,NaN,OnDemand,RunInstances
22851,r4.large,0.1330,US West (Oregon),Shared,Linux,NaN,OnDemand,RunInstances
25035,r4.16xlarge,4.2560,US West (Oregon),Shared,Linux,NaN,OnDemand,RunInstances
...,...,...,...,...,...,...,...,...
1798648,m5d.2xlarge,0.4520,US West (Oregon),Shared,Linux,NaN,OnDemand,RunInstances
1804897,c6gd.metal,2.4576,US West (Oregon),Shared,Linux,NaN,OnDemand,RunInstances
1807580,inf1.6xlarge,1.9040,US West (Oregon),Shared,Linux,NaN,OnDemand,RunInstances
1809718,r5dn.4xlarge,1.3360,US West (Oregon),Shared,Linux,NaN,OnDemand,RunInstances
1812744,g4ad.4xlarge,0.8670,US West (Oregon),Shared,Linux,NaN,OnDemand,RunInstances

In [11]:
def return_price(data_frame, instance_type):
    wdf = data_frame[(data_frame['Instance Type'] == instance_type)]
    print(wdf)
    instance_price = wdf.iloc[0].PricePerUnit
    return(instance_price)

In [14]:
my_instance = 't3a.2xlarge'
hr_cost = return_price(df, my_instance)

print('Cost Per Hour: ', hr_cost)

       Instance Type  PricePerUnit          Location Tenancy Operating System  \
552183   t3a.2xlarge        0.3008  US West (Oregon)  Shared            Linux
678751   t3a.2xlarge        0.3008  US West (Oregon)  Shared            Linux

       PurchaseOption  TermType     operation
552183            NaN  OnDemand  RunInstances
678751            NaN  OnDemand  RunInstances
Cost Per Hour:  0.3008